<div id="aboutDiv">

<div class="screen-middle w3-white w3-margin w3-padding">
    <center>
        <div>
            <h1 style="color:purple">About</h1>
        </div>
        <div class="w3-large" style="font-family:cursive">Abbrevi8 is A 2D Trivia Game. The player’s objective is to accumulate enough points by providing answers to acronyms presented to them before the timer runs out</div>
        <div>
            <button class="w3-btn w3-round w3-purple w3-xlarge w3-margin" onclick='loadPage("menu")'>Back</button>
        </div>
    </center>
    
</div>
</div>
<script>stopLoad()</script>