<div id="howToDiv">

<div class="screen-middle w3-white w3-margin w3-padding w3-animate-zoom" style="height:50%">
    <center>
        <div>
            <h1 style="color:purple">How to Play</h1>
        </div>
        <div class="w3-large" style="font-family:cursive">Select a category from the list of options. You will be presented with a timer and an Acronym you are to provide the meaning of that acroynm within the stipulated timeframe to gain maximum point. <br/>
        Provide adequate correct answers to move to the next stage</div>
        <div>
            <button class="w3-btn w3-round w3-purple w3-xlarge w3-margin" onclick='loadPage("menu")'>Back</button>
        </div>
    </center>
    
</div>
</div>
<script>stopLoad()</script>