<div id="leaderBoardDiv">

<div class="screen-middle w3-white w3-margin w3-padding">
    <center>
        <div>
            <h1 style="color:purple">High Scores</h1>
        </div>
        <div class="w3-large" style="font-family:cursive">
            <ul class="w3-ul w3-stripped w3-large w3-padding w3-margin" id="leaderboardDisplay">

            </ul>
        </div>
        <div>
            <button class="w3-btn w3-round w3-purple w3-xlarge w3-margin" onclick='loadPage("menu")'>Back</button>
        </div>
    </center>
    
</div>
</div>
<script>stopLoad();initLeaderboardPage()</script>