<div id="welcomeDiv" class="" style="">
    <div class="screen-middle w3-animate-zoom">
        <div class="">
            <img src="app/assets/img/loadingIcon.png" id="loadingImg" class="">
        </div>
        <div class="w3-container">
            <div class="w3-padding">
                <h3>Please choose a username</h3>
                <input class="w3-input" type="text" id="username" style="text-align:center">
                <h3>Location</h3>
                <input class="w3-input" type="country" id="country" style="text-align:center">
            </div>
            
        </div>
        <div class="w3-padding">
            <button class="w3-btn w3-round w3-pink w3-xlarge cursive" onclick="storeUserInfo()">PLAY!</button>
        </div>
    </div>
</div>

<script>initWelcomePage()</script>